<% layout('layouts/boilerplate') %>


<div class="container d-flex justify-content-center align-items-center mt-3 mb-5">
	<div class="row flex-fill">
		<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
			<div class="card shadow">
				<img src="https://res.cloudinary.com/duk8xftrl/image/upload/v1753018603/pars-sahin-V7uP-XzqX18-unsplash_npnjyj.jpg" alt="" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">Register</h5>
					<form action="/register" method="post" class="validated-form" novalidate>
						<div class="mb-3">
								<label class="form-label" for="username">Username: </label>
								<input class="form-control" type="text" name="username" id="username" required>
								<div class="invalid-feedback">
									Please provide a username
								</div>
						</div>
						<div class="mb-3">
								<label class="form-label" for="email">Email: </label>
								<input class="form-control" type="email" name="email" id="email" required>
								<div class="invalid-feedback">
									Please provide a email
								</div>
						</div>
						<div class="mb-3">
								<label class="form-label" for="password">Password: </label>
								<input class="form-control" type="password" name="password" id="password" required>
								<div class="invalid-feedback">
									Please provide a password
								</div>
						</div>
						<button class="btn btn-success">Register</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

